* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  background: #000000;
  color: rgb(255, 214, 214);
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border-top: 1px solid rgb(255, 255, 255);
  border-left: 1px solid rgb(255, 255, 255);
}

/* CARD */
.card {
  border-right: 1px solid rgb(250, 250, 250);
  border-bottom: 1px solid rgb(231, 231, 231);
  display: flex;
  flex-direction: column;
}

/* IMAGEM */
.image {
  width: 100%;
  aspect-ratio: 3 / 2;
  overflow: hidden;
  cursor: zoom-in;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* INFO */
.info {
  border-top: 1px solid rgb(255, 255, 255);
  padding: 10px 12px;
}

.title {
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 4px;
}

.price {
  font-size: 12px;
}

/* LIGHTBOX */
.lightbox {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.9);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 999;
  cursor: zoom-out;
}

.lightbox img {
  max-width: 90%;
  max-height: 90%;
}

/* RESPONSIVO */
@media (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
